/* Color Palette
#F2E8B6
#F2BB16 golden
#F27127 orange 
#F2522E reddish
*/

@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Mukta&family=Nabla&display=swap');

*{  
  font-family: 'Mukta', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-image: url(./images/colored-shapes.svg);
  background-size: cover;
  
}

body .container header {
  font-size: 1.5rem;
}

body .container header .navbar .navbar-brand{ 
  font-family: 'Nabla', cursive;   
  font-size: 2rem;
}

body .container 

